body
{
    background-color: #232d45;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100vh;
}

#aside 
{
    background-color: #1b253b;
    position: absolute;
    left: 0;
    padding-top: 100px;
    top: 5px;
    width: 100%;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 110vh;
}

.navbar-brand
{
    width: 16.66667%;
}

.menu-list li
{
    margin-top: 10px;
}

.menu-list li .admin-link
{
    color: #fff;
}

.menu-list li:hover .admin-link
{
    color: #fff;
}

.menu-list .admin-link 
{
    color: #fff;
    height: 45px;
    line-height: 29px;
}

.menu-list li ul
{
    border-left: 1px solid #232d45;
}

.menu-list .admin-link.is-active
{
    border-radius: 10px;
    background-color: #232d45;
}

#aside .admin-link:hover
{
    border-radius: 10px;
    background-color: #232d45;
    color: #fff !important;
}

#aside .admin-link
{
    color: #fff;
}

#navbar
{
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    border-radius: 10px;
    height: 65px;
    background-color: #28334e;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

#page
{
    background-color: #242d45;
    border-radius: 10px;
    margin: 25px;
}

.panel
{
    background-color: #28334e;
    padding: 25px;
}

.table-header
{
    border-radius: 10px;
    height: 35px;
    line-height: 5px;
    margin-top: 0px;
    text-transform: uppercase;
    font-weight: 600;
}

.table-row
{
    background-color: #1b253b;
    padding: 10px;
    border-radius: 10px;
    height: 70px;
    line-height: 25px;
    margin-top: 0px;
}

h2
{
    font-size: 1em;
    font-weight: 700;
    color: #c5d0dc;
    margin-bottom: 15px;
}

p
{
    font-size: .9em;
    color: #c5d0dc;
    margin-bottom: 15px;
}

.big-span
{
    font-size: 1.5em;
    color: #c5d0dc;
    position: absolute;
}

.has-text-orange
{
    color: #d87708;
}

.has-text-green
{
    color: #155e75;
}

.is-green
{
    background-color: #155e75;
}

.button.is-green:hover
{
    background-color: #175a70;
}

.is-red
{
    background-color: #a82223;
}

.button.is-red:hover
{
    background-color: #961d1d;
}

.is-orange
{
    background-color: #d87708;
}

.button.is-orange:hover
{
    background-color: #c76d05;
}

.has-text-lightgreen
{
    color: #0c9488;
}

.has-text-red
{
    color: #a82223;
}

.title-icon
{
    font-size: 2.5em;
}

.border-right-dashed
{
    border-right: 1px dashed;
}

.span-text
{
    font-size: 0.9em;
    color: #64748b;
}

.admin-check 
{
    background-color: #28334e !important;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

.admin-check:after 
{
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.admin-check-base:checked ~ .admin-check:after 
{
    display: block;
}
  
  /* Style the checkmark/indicator */
.admin-check:after 
{
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #0c9488;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.admin-check-base
{
    opacity: 0;
}

.button
{
    border: none;
    color: #fff;
}

.button:hover
{
    color: #fff;
}

.right
{
    float: right;
}

.input
{
    background-color: #1b253b;
    border: none;
    color: #fff;
}

.absolute-button
{
    position: absolute;
    right: 5px;
    top: 5px;
}